.App {
  text-align: center;
  height: 100vh;
  background-image: url(./bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 2.5rem;
}

.profile {
  border-top: solid 1px #ffffff;
  border-bottom: solid 1px #ffffff;
}
